doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    link(rel='stylesheet', href='style.css', media='screen')
  body.markdown-body
    //- img(src='images/angular.schule.svg', width='100')
    h1= title
    img(src='images/monkey-thinking.svg', width='300')
    ul
      li
        a(href='/books') GET /books
      li
        a(href='/book/9783864906466') GET /book/9783864906466
      li
        a(href='/attacks') GET /attacks
      li
        a(href='/attack/1') GET /attack/1
      li
        a(href='/technics') GET /technics
      li
        a(href='/technic/1') GET /technic/1
      li
        a(href='/steps') GET /steps
      li
        a(href='/step/1') GET /step/1
      li
        a(href='/graphql/books/?query={%0A%20 books {%0A%20%20%20 title%0A%20%20%20 isbn%0A%20%20%20 authors {%0A%20%20%20%20%20 name%0A%20%20%20 }%0A%20 }%0A}') GraphQL Books Sample Query
      li
        a(href='/graphql/attacks/?query={%0A%20 attacks {%0A%20%20%20 name%0A%20%20%20 description%0A%20%20%20 %0A%20 }%0A}') GraphQL Attacks Sample Query
      li
        a(href='/graphql/technics/?query={%0A%20 attacks {%0A%20%20%20 name%0A%20%20%20 description%0A%20%20%20 %0A%20 }%0A}') GraphQL Technics Sample Query
      li
        a(href='/graphql/steps/?query={%0A%20 attacks {%0A%20%20%20 name%0A%20%20%20 description%0A%20%20%20 %0A%20 }%0A}') GraphQL Steps Sample Query
    hr
    strong
      | Explorable API documentation:&nbsp;
      a(href='/swagger-ui/') /swagger-ui/
    br
    small
      | GraphiQL Explorer:&nbsp;
      ul
        li
          a(href='/graphql/books') /graphql/books
        li
          a(href='/graphql/attacks') /graphql/attacks
        li
          a(href='/graphql/technics') /graphql/technics
        li
          a(href='/graphql/steps') /graphql/steps
    br
    small
      | OpenAPI Specification:&nbsp;
      a(href='/swagger.json') /swagger.json
    br
    small
      | Uptime: #{time}
    hr
    |   &copy;&nbsp;
    a(href='https://angular-buch.com') Angular-Buch Team
