<div class="ui selection divided list">
    <a *ngFor="let step of steps" class="item">
        <div class="content">
            <div class="header">{{ step.name }}</div>
            <p>{{ step.description }}</p>
        </div>
    </a>
</div>
