<div class="ui selection divided list">
    <a *ngFor="let attack of attacks" class="item">
        <img class="ui tiny image" *ngIf="attack.image" [src]="attack.image">
        <div class="content">
            <div class="header">{{ attack.name }}</div>
            <p>{{ attack.description }}</p>
        </div>
    </a>
</div>
    