<h1>Home</h1>

<a routerLink="../attacks" class="ui red button">
    View attacks <i class="right arrow icon:"></i></a>

<a routerLink="../steps" class="ui red button">
    View steps <i class="right arrow icon:"></i></a>

<a routerLink="../technics" class="ui red button">
    View techniques <i class="right arrow icon:"></i></a>
