<div class="ui selection divided list">
    <a *ngFor="let technic of technics" class="item">
        <div class="content">
            <div class="header">{{ technic.name }}</div>
            <p>{{ technic.description }}</p>
        </div>
    </a>
</div>
    